<!DOCTYPE html>
<html>

<head>
    <title>HEOS Tidal Albums</title>
    <link rel="stylesheet" href="css/albums.css" />
</head>

<body>
    <div class="volume">
        Vol: | <% for (let lvl=10; lvl <=60; lvl+=5) { %>
            <span onclick="httpGetAsync('/volume?level=<%= lvl %>', notify)">
                <%= lvl %>
            </span> |
            <% } %>
                <div id="notification">
                </div>
    </div>
    <div class="main-container">
        <% albums.forEach(function(album) { %>
            <%- include('album/show', {album: album}) %>
                <% }); %>
    </div>
    <script language="javascript">
        function httpGetAsync(theUrl, callback) {
            var xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
                    callback(xmlHttp.responseText);
            }
            xmlHttp.open("GET", theUrl, true);
            xmlHttp.send(null);
        }
        function notify(message) {
            if (message != "") {
                setTimeout(() => { notify("") }, 1000);
            }
            var q = document.getElementById("notification");
            if (q) q.innerHTML = message;
        }
    </script>
</body>

</html>